<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DemoSettingsClassLib.Properties.Settings2" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DemoSettingsClassLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DemoSettingsClassLib.Properties.Settings2>
            <setting name="Int32Value2" serializeAs="String">
                <value>0</value>
            </setting>
        </DemoSettingsClassLib.Properties.Settings2>
        <DemoSettingsClassLib.Properties.Settings>
            <setting name="Int32Value" serializeAs="String">
                <value>0</value>
            </setting>
        </DemoSettingsClassLib.Properties.Settings>
    </userSettings>
</configuration>